#container{
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 100px;
}
p,li{

 font-size: 19px;
    font-weight: 700;
    line-height: 1.1;
    }
ul {
    margin: 0;
    padding-left: 20px;
}


 
.card{
    perspective: 1000px;
    border-color:aliceblue
}
.interior{
    position:relative;
    width:100%;
    min-height: 420px;
    height: auto;
    transition: transform 0.8s;
    transform-style: preserve-3d;
        border: 3px solid black;
}

 

.card:hover .interior{
    transform: rotateY(180deg);

}

.frontal, .trasera{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.frontal{
    overflow:hidden;
}
.frontal::before {
    content:"";
    position:absolute;
    inset:0;
    background: url(../assets/hermosa-vista-del-paisaje-idealista-de-la-ladera-verde-montaña-con-un-abrupto-acantilado-rocoso-cáucaso-norte-394516355.webp);
    filter:blur(3px);
    transform: scale(1.1);
    z-index:0;
}

 .frontal * {
    position: relative;    
}

.trasera {
    background: none;
    color:black;
    text-align: center;
    transform: rotateY(180deg); 
    overflow:hidden;

}

.trasera::before{
    content:"";
    position:absolute;
    inset:0;
    background: url(../assets/hermosa-vista-del-paisaje-idealista-de-la-ladera-verde-montaña-con-un-abrupto-acantilado-rocoso-cáucaso-norte-394516355.webp);
    filter:blur(3px);
    transform: scale(1.1);
    z-index:0;
}
.trasera *{
    position:relative;
    z-index:1;
}

.estrellas{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
 }

 .estrellas input {
    display: none;
 }

.estrellas label{
    font-size:30px;
    color:honeydew;
    cursor:pointer;
    transition: transform 0.2s, color 0.2s;;
}

.estrellas label:hover{
    transform:scale(1.4);
    color:gold;
}

.estrellas label:hover ~ label{
    color:gold;
}

.estrellas input:checked ~ label{
    color:gold;
}

.agencimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* separa arriba, medio y abajo */
    
    border: 2px solid black;
    height: 350px;
    padding: 14px;
    text-align: center;
}
 .imga { 
    width: 90%;
    height: 330px;
    object-fit: cover;
}
