#container{
 display:grid;
     grid-template-columns: repeat(3, 1fr);
    gap:30px;
}
.agencimg{
    display:flexbox;
    justify-content: center;
    border: 5px solid black;
}
.imga { 
   justify-content: center ;
    width: 200px;
    height: 150px;
   
}
